<div class="container"   style="margin-top: 50px">
  <div class="card">
    <div class="card-body">
      <h2>My Awesome Reading List</h2>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Danh sách đọc</h5>
              <a routerLink="/list" class="btn btn-primary">Đi tới</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Danh sách đã đọc</h5>
              <a routerLink="/history" class="btn btn-primary">Đi tới</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
